@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  overflow-x: hidden;
}

.Cliimg {
  box-shadow: 0 0 70px #85858b;
}

/* width */
::-webkit-scrollbar {
  margin-top: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(212, 206, 206);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(197, 193, 193);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 184, 184);
}
